body {
  background-color: rgb(41, 116, 41);
}

.tweetDiv {
  border: black;
  border-width: 10px;
  border-style: double;
  padding-left: 5px;
  color: rgb(228, 157, 107);
}

p {
  font-weight: 600;
}
